{% extends 'basetemplate.html.twig' %}
{% block title %}Catalog Editor{% endblock %}
{% block navbar %} 
	<nav class="navbar navbar-inverse">
		<div class="container-fluid">
			<ul class="nav navbar-nav">
				<li>
					<a href="/">Home</a>
				</li>
				<li>
					<a href="/editcategory">New Category</a>
				</li>
				<li>
					<a href="/editproduct">New Product</a>
				</li>
			</ul>
		</div>
	</nav>
{% endblock %}