{% extends 'basetemplate.html.twig' %}
{% block title %}{{product.productname}} list{% endblock %}

{% block content %}
<h2>{{category.namecat}}</h2>
<h3>{{product.productname}}</h3>
<p>{{product.description}}</p>
	 
{% endblock %}